:root {
  --new-input-background-color: #f0f0f0; /* Example background color */
  --input-text-color: #333; /* Example text color */
}

.contact-section {
  padding: 4rem 0;
  background-color: var(--body-color);
}

.form-control {
  border: 1px solid var(--tenne-tawny);
  background-color: var(--container-color); /* Match with the home page */
  color: var(--text-color);
}

.form-control.name-input {
  background-color: var(
    --new-input-background-color
  ); /* New background color for the name input */
  color: var(--input-text-color); /* Text color for the name input */
}
.form-control::placeholder {
  color: var(--tenne-tawny); /* Placeholder color */
}

.btn-primary {
  background-color: var(--tenne-tawny); /* Primary button color */
  border-color: var(--tenne-tawny); /* Border color */
}

.btn-primary:hover {
  background-color: var(--tenne-tawny-dark); /* Hover color */
  border-color: var(--tenne-tawny-dark); /* Border hover color */
}

body.dark-theme .form-control {
  background-color: var(--dark-container-color);
  color: #fff;
  border-color: #555;
}

body.dark-theme .btn-primary {
  background-color: var(--tenne-tawny-dark);
}

body.dark-theme .btn-primary:hover {
  background-color: #056640; /* Dark mode hover color */
}

/* Title styling */
.title {
  color: var(--title-color); /* Consistent title color */
}
